.title  { text-align: center; }
.todo   { color: red; }
.done   { color: green; }
.tag    { background-color: #add8e6; font-weight:normal }
.target { }
.timestamp { color: #bebebe; }
.timestamp-kwd { color: #5f9ea0; }
.right  {margin-left:auto; margin-right:0px;  text-align:right;}
.left   {margin-left:0px;  margin-right:auto; text-align:left;}
.center {margin-left:auto; margin-right:auto; text-align:center;}
p.verse { margin-left: 5% }
pre {
    border: 1pt solid #AEBDCC;
    background-color: #F3F5F7;
    padding: 5pt;
    font-family: courier, monospace;
    font-size: 90%;
    overflow:auto;
}
table { border-collapse: collapse; }
td, th { vertical-align: top;  }
th.right  { text-align:center;  }
th.left   { text-align:center;   }
th.center { text-align:center; }
td.right  { text-align:right;  }
td.left   { text-align:left;   }
td.center { text-align:center; }
dt { font-weight: bold; }
div.figure { padding: 0.5em; }
div.figure p { text-align: center; }
div.inlinetask {
    padding:10px;
    border:2px solid gray;
    margin:10px;
    background: #ffffcc;
}
textarea { overflow-x: auto; }
.linenr { font-size:smaller }
.code-highlighted {background-color:#ffff00;}
.org-info-js_info-navigation { border-style:none; }
#org-info-js_console-label { font-size:10px; font-weight:bold;
                             white-space:nowrap; }
.org-info-js_search-highlight {background-color:#ffff00; color:#000000;
                                 font-weight:bold; }

p.postamble { text-align: center;
	      font-size: 12px;
	    }
body {
    padding-top: 40px;
    padding-bottom: 40px;	
    padding-left: 170px;
    padding-right:170px;
    text-align:left;
    font-size: 13pt;
    line-height: 18pt;
}

blockquote p {
	font-size: inherit;
	font-style: italic;
}

pre.src,
pre.example {
	background-color: #080808;
	color: #f4f4f4;
	font-size: 13px;
}

pre.example {
	border-top: solid 5px #9c0001;
	border-bottom: solid 5px #9c0001;
}

#footnotes {
	font-style: italic;
}

#footnotes h2.footnotes {
	font-size: 18px;
}

disqus_thread {
	margin-top: 28px;
}



/* TOC inspired by http://jashkenas.github.com/coffee-script */
#table-of-contents {
    z-index: 100;
    font-size: 10pt;
    position: fixed;
    right: 0em;
    top: 0em;
    background: #f9f9ee;
    -webkit-box-shadow: 0 0 0.5em #777777;
    -moz-box-shadow: 0 0 0.5em #777777;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    text-align: right;
    /* ensure doesn't flow off the screen when expanded */
    max-height: 80%;
    overflow: auto; 
}

#table-of-contents h2 {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0pt;
    font-size: 10pt;
    max-width: 15em;
    font-weight: normal;
    padding-left: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.05em;
    padding-bottom: 0.05em; 
}

#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left; 
}
#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em; 
}

#table-of-contents #text-table-of-contents ul {
    list-style-position: outside;
}
    